= simple_form_for recurrence, remote: true do |f|

  = f.hidden_field :transaction_type, value: "upcoming"

  .row
    .span3
      = f.input :frequency, as: :select, collection: TransactionBase::FREQUENCIES, include_blank: false
    .span3

  .row
    .span3
      = f.input :starts_at, as: :string, input_html: { class: "datepicker-field" }
    .span3
      = f.input :ends_at, as: :string, input_html: { class: "datepicker-field" }

  .row
    .span3
      = f.input :debit, as: :string
    .span3
      = f.input :credit, as: :string

  .row
    .span3
      = f.input :payee
    .span3
      = f.input :description

  <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>

:javascript

  $(function () {
    console.log( $(".datepicker-field").datepicker({format: "M dc yyyy"}).attr("autocomplete", "off") );
  });
