= simple_form_for transaction, remote: true do |f|

  = f.hidden_field :transaction_type, value: "upcoming"

  .row
    .span3
      = f.input :paid_at, as: :string, placeholder: "2013-05-15"
    .span3

  .row
    .span3
      = f.input :debit, as: :string
    .span3
      = f.input :credit, as: :string

  .row
    .span3
      = f.input :payee, placeholder: "Acme Corporation"
    .span3
      = f.input :description, placeholder: "Error prone contraptions"

  .row
    = f.simple_fields_for :recurrence do |f1|
      .span3
        = f1.input :frequency, as: :select, collection: Recurrence::FREQUENCIES, include_blank: false
      .span3
        = f1.input :ends_at, as: :string

  <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
