= transaction_tr transaction do

  %td.paid-at{data: { name: "paid_at" }}
    = transaction.paid_at.to_date

  %td.payee.editable{data: { name: "payee" }}
    = transaction.payee

  %td.description.editable{data: { name: "description" }}
    = transaction.description

  %td.debit.amount.editable{data: { name: "debit" }}
    - if transaction.amount < 0
      = format_money transaction.amount.to_i.abs

  %td.credit.amount.editable{data: { name: "credit" }}
    - if transaction.amount >= 0
      = format_money transaction.amount.to_i

  %td.balance.amount
    - if transaction.balance
      = format_money transaction.balance.to_i

  %td.actions
    - if transaction.cleared?
      = link_to raw('<i class="icon-circle-arrow-up"></i>'),
        update_transaction_path(transaction, transaction: { transaction_type: "upcoming" }),
        class: "btn reschedule-transaction-button",
        remote: true
    /- if transaction.upcoming? || transaction.cleared?
    /  = link_to raw('<i class="icon-calendar"></i>'),
    /    new_transaction_path(transaction_id: transaction.id),
    /    class: "btn copy-transaction-button",
    /    data: { toggle: "modal", target: "#new-transaction-modal" }
    - if transaction.upcoming?
      = link_to raw('<i class="icon-ok"></i>'),
        update_transaction_path(transaction, transaction: { transaction_type: "cleared" }),
        class: "btn clear-transaction-button",
        remote: true
    - if transaction.upcoming? || transaction.cleared?
      = link_to raw('<i class="icon-remove"></i>'),
        destroy_transaction_path(transaction),
        class: "btn remove-transaction-button",
        remote: true
