= transaction_tr transaction, month_changed: month_changed do

  %td.paid-at{data: { name: "paid_at" }}
    .line1= transaction.paid_at.to_date
    .line2= transaction.recurrence.try(:frequency)

  %td.payee
    .editable{data: { name: "payee", original: transaction.payee }}= transaction.payee
    .editable{data: { name: "description", original: transaction.description }}= transaction.description

  - value = if transaction.amount < 0 then format_money -transaction.amount else "" end
  %td.debit.amount.editable{data: { name: "debit", original: value }}= value

  - value = if transaction.amount >= 0 then format_money transaction.amount else "" end
  %td.credit.amount.editable{data: { name: "credit", original: value }}= value

  - value = if transaction.balance then format_money transaction.balance else "" end
  %td.balance.amount= value

  %td.actions
    - if transaction.cleared?
      = link_to raw('<i class="icon-circle-arrow-up"></i>'),
        update_transaction_path(transaction, transaction: { transaction_type: "upcoming" }),
        class: "btn reschedule-transaction-button",
        remote: true
    /- if transaction.upcoming? || transaction.cleared?
    /  = link_to raw('<i class="icon-calendar"></i>'),
    /    new_transaction_path(transaction_id: transaction.id),
    /    class: "btn copy-transaction-button",
    /    data: { toggle: "modal", target: "#new-transaction-modal" }
    - if transaction.upcoming?
      = link_to raw('<i class="icon-ok"></i>'),
        update_transaction_path(transaction, transaction: { transaction_type: "cleared" }),
        class: "btn clear-transaction-button",
        remote: true
    - if transaction.upcoming? || transaction.cleared?
      = link_to raw('<i class="icon-remove"></i>'), "#", class: "btn remove-transaction-button"
