%tr
  %td= number_to_currency transaction.amount.to_i / 100.0
  %td= transaction.payee
  %td= transaction.description
  %td= transaction.paid_at.to_date
  %td.actions
    = link_to raw('<i class="icon-ok"></i>'), "#", class: "btn"
