#transactions-header
  %h1 Budgets

  .actions
    .btn-group{"data-toggle" => "buttons-checkbox"}
      %button.btn.btn-primary.active{:type => "button", :data => { :toggle => "collapse", :target => "#upcoming-transactions-container" }} Upcoming
      %button.btn.btn-primary{:type => "button", :data => { :toggle => "collapse", :target => "#cleared-transactions-container"}} Cleared
      - if @posted_transactions.present?
        %button.btn.btn-primary.active{:type => "button", :data => { :toggle => "collapse", :target => "#posted-transactions-container"}} Posted

#upcoming-transactions-container.in.collapse
  %h2
    Upcoming Transactions
    .actions
      = image_tag "ajax-loader.gif", class: "render-loading hide"
      = select_tag "upcoming_transactions_time_window", options_for_select(current_account.options_for_time_window, current_account.upcoming_time_window)
  #upcoming-transactions
    = render partial: "transactions_table", locals: { transactions: @upcoming_transactions }

#cleared-transactions-container.collapse
  %h2 Cleared Transactions
  #cleared-transactions
    = render partial: "transactions_table", locals: { transactions: @cleared_transactions }

- if @posted_transactions.present?
  #posted-transactions-container.in.collapse
    %h2 Posted Transactions
    #posted-transactions
      = render partial: "transactions_table", locals: { transactions: @posted_transactions }

.actions

  = link_to raw('<i class="icon-calendar icon-white"></i> Schedule Transaction'),
      new_recurrence_path,
      class: "btn btn-primary",
      data: { toggle: "modal", target: "#new-transaction-modal" }

  = link_to raw('<i class="icon-pencil icon-white"></i> Set Current Balance'),
      edit_balance_account_path(current_account),
      class: "btn btn-primary",
      data: { toggle: "modal", target: "#update-balance-modal" }

#new-transaction-modal.modal.fade.hide
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 Schedule Transactions
  .modal-body
  .modal-footer
    = link_to "Close", "#", class: "btn", data: { dismiss: "modal" }
    = link_to "Create transactions", "#", class: "btn btn-primary", data: { submit: "modal-form" }

#confirm-transaction-change-modal.modal.fade.hide
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 Update Transactions
  .modal-body
    The transaction you are editing is one of several. How would you like to update it?
  .modal-footer
    = link_to "Cancel", "#", class: "btn update-none"
    = link_to "Update all", "#", class: "btn btn-danger update-all"
    = link_to "Update this and all later transactions", "#", class: "btn btn-warning update-later"
    = link_to "Update just this transaction", "#", class: "btn btn-success update-one"

#update-balance-modal.modal.fade.hide
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 Set Current Balance
  .modal-body
  .modal-footer
    = link_to "Cancel", "#", class: "btn", data: { dismiss: "modal" }
    = link_to "Update", "#", class: "btn btn-primary", data: { submit: "modal-form" }
