#upcoming-transactions-container.in.collapse
  %h2
    Your Budget's Outlook
    .actions
      = image_tag "ajax-loader.gif", class: "render-loading hide"
      = select_tag "upcoming_transactions_time_window", options_for_select(current_account.options_for_time_window, current_account.upcoming_time_window)
  #upcoming-transactions
    = render partial: "transactions_table", locals: { transactions: @upcoming_transactions }

#cleared-transactions-container.collapse
  %h2 Cleared Transactions
  #cleared-transactions
    = render partial: "transactions_table", locals: { transactions: @cleared_transactions }

- if @posted_transactions.present?
  #posted-transactions-container.in.collapse
    %h2 Posted Transactions
    #posted-transactions
      = render partial: "transactions_table", locals: { transactions: @posted_transactions }

#new-transaction-modal.modal.fade.hide
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 Schedule Transactions
  .modal-body
  .modal-footer
    = link_to "Close", "#", class: "btn", data: { dismiss: "modal" }
    = link_to "Create transactions", "#", class: "btn btn-primary", data: { submit: "modal-form" }

#confirm-transaction-change-modal.modal.fade.hide
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 Update Transactions
  .modal-body
    The transaction you are editing is one of several. How would you like to update it?
  .modal-footer
    = link_to "Cancel", "#", class: "btn update-none"
    = link_to "Update all", "#", class: "btn btn-danger update-all"
    = link_to "Update this and all later transactions", "#", class: "btn btn-warning update-later"
    = link_to "Update just this transaction", "#", class: "btn btn-success update-one"

#confirm-transaction-delete-modal.modal.fade.hide
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 Delete Transactions
  .modal-body
    The transaction you are deleting is one of several. What would you like to delete?
  .modal-footer
    = link_to "Cancel", "#", class: "btn delete-none"
    = link_to "Delete all", "#", class: "btn btn-danger delete-all"
    = link_to "Delete this and all later transactions", "#", class: "btn btn-warning delete-later"
    = link_to "Delete just this transaction", "#", class: "btn btn-success delete-one"

#update-balance-modal.modal.fade.hide
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 Set Current Balance
  .modal-body
  .modal-footer
    = link_to "Cancel", "#", class: "btn", data: { dismiss: "modal" }
    = link_to "Update", "#", class: "btn btn-primary", data: { submit: "modal-form" }
