!!!
%html

  %head

    %title #{t 'brand.name'}: #{t 'brand.saying'}

    = stylesheet_link_tag :application, media: "all"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700"
    = csrf_meta_tags
    = javascript_include_tag :application

  %body

    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{href: root_path}= t 'brand.name'

          - if current_user

            %ul.nav
              = nav_link "Budget", transactions_path

              %li= link_to "Schedule Transactions",
                new_recurrence_path,
                data: { toggle: "modal", target: "#new-transaction-modal" }

              %li= link_to "Set Current Balance",
                edit_balance_account_path(current_account),
                data: { toggle: "modal", target: "#update-balance-modal" }

            %ul.nav.pull-right
              = nav_link current_user.email, edit_user_path(current_user)
              %li= link_to "Sign Out", sign_out_path

    - if @use_narrow_container
      .container
        .row
          .offset4.span4.primary-container{style: "padding-left: 25px; padding-right: 45px"}
            = yield
    - else
      .container.primary-container
        = yield

    = onload_tag
